
.icon-down-open:before { content: '\e800'; } /* '' */
.icon-play-circled2:before { content: '\e801'; } /* '' */
.icon-play-circled:before { content: '\e802'; } /* '' */
.icon-tw:before { content: '\e803'; } /* '' */
.icon-lupa:before { content: '\e804'; } /* '' */
.icon-inst:before { content: '\e805'; } /* '' */
.icon-fb:before { content: '\e806'; } /* '' */
.icon-copy:before { content: '\e807'; } /* '' */
.icon-close:before { content: '\e808'; } /* '' */
.icon-arrowright:before { content: '\e809'; } /* '' */
.icon-arrowleft:before { content: '\e80a'; } /* '' */
.icon-yt:before { content: '\e80b'; } /* '' */